{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <style>
        .container{
            display: flex;
            height:47vh;
            align-items: center;
            justify-content: center;
        }
    .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
    form{
        padding:30px;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    button{
        background-color:rgb(103, 175, 220) ;
        color:white;
        padding:10px 20px;
    }
</style>

    
<div class="container">
<div class="form1"style=" background-color:rgba(0,0,0,0.3);">
    <a href="javascript:history.go(-1);" class="close">+</a>
    <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Group creations</h5>
    <form action="" method="post">
    
        
        <div><p>Name</p></div>
        <input type="text" class="form-control">
        <div><p>(Alias)</p></div>
        <input type="text" class="form-control">
        <div><p>Under</p></div>
        <select name="under" id="under" class="form-control">
            <option value="Bank Account">Bank Accouts</option>
            <option value="Bank OCC A/c">Bank OCC A/c</option>
            <option value="Bank OD A/c">Bank OD A/c</option>
            <option value="Bank_Account">Branch Divisions</option>
            <option value="Bank_Account">Capital Amount</option>
            <option value="Bank_Account">Cash in Hand</option>
            <option value="Bank_Account">Current Assets</option>
            <option value="Bank_Account">Current Liabilities</option>
            <option value="Bank_Account">Deposits (Asset)</option>
            <option value="Bank_Account">Direct Expenses</option>
            <option value="Bank_Account">Direct Incomes</option>
            <option value="Bank_Account">Duties and Taxes</option>
            <option value="Bank_Account">Expenses(Direct)</option>
            <option value="Bank_Account">Expenses(Indirect)</option>
            <option value="Bank_Account">Fixed Assets</option>
            <option value="Bank_Account">Income (Direct)</option>
            <option value="Bank_Account">Income (Indirect)</option>
            <option value="Bank_Account">Investments</option>
            <option value="Bank_Account">Loans & Advances (Asset)</option>
            <option value="Bank_Account">Loans (Liability)</option>
            <option value="Bank_Account">Misc. Expenses (Asset)</option>
            <option value="Bank_Account">provisions</option>
            <option value="Bank_Account">Purchase Accounts</option>
            <option value="Bank_Account">Reserves & Surplus</option>
            <option value="Bank_Account">Retained Earnings</option>
            <option value="Bank_Account">Sales Accounts</option>
            <option value="Bank_Account">Secured Loans</option>
            <option value="Bank_Account">Stock-in-Hand</option>
            <option value="Bank_Account">Sundry Creditors</option>
            <option value="Bank_Account">Sundry Debtors</option>
            <option value="Bank_Account">Suspence A/c</option>
            <option value="Bank_Account">Unsecured Loans</option>   
        </select>
        <hr>
        <div><p>Group behaves like sub-ledger</p></div>
        <select name="sub-ledger" id="sub-ledger" class="form-control">
            <option value="No">No</option> 
            <option value="Yes">Yes</option>
             
        </select>
        <div><p>Net Debit/Credit Balances for reporting</p></div>
        <select name="sub-ledger" id="sub-ledger" class="form-control">
            <option value="No">No</option> 
            <option value="Yes">Yes</option>
          
        </select>
        <div><p>Used for Calculations(for example :tax,discounts)</p></div>
        <select name="sub-ledger" id="sub-ledger" class="form-control">
            <option value="No">No</option> 
            <option value="Yes">Yes</option>
           
        </select>
        <p>(For sale invoice entries)</p>
        <div><p>Method to Allocate when used in purchase invoice</p></div>
        <select name="sub-ledger" id="sub-ledger" class="form-control">
            <option value="Yes">Not Applicable</option>
            <option value="No">Appropriate by Qty</option>
            <option value="No">Appropriate by value</option>    
        </select>
        <br>
<button>CREATE</button>
    </form>
</div>
</div>
{% endblock %}